<ion-content>
  <swiper-container 
  slides-per-view="1" 
  pagination="true"
  >
    
    
    <swiper-slide class="bg-color-slide">
      <h1 class="title1">Dulce Tradicción</h1>
      <img src="assets/images/Slide1.jpeg">
      <ion-icon name="cart-outline"></ion-icon>
      <p>Un espacio para que te deleites con nuestros increibles productos</p>
    </swiper-slide>

    
    <swiper-slide>
      <h1>Un gusto a tu paladar</h1>
      <img src="assets/images/Slide2.jfif">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <p>Brindamos productos de alta calidad.</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Nuestros principales productos</h1>
      <img src="assets/images/Slide3.jfif">
      <ion-icon name="star-outline"></ion-icon>
      <p>Nos especializamos en los mejores postres</p>
    </swiper-slide>

    
    <swiper-slide>
      <h1>Domicilios disponibles</h1>
      <img src="assets/images/Slide4.jfif">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <p>Recibe nuestros productos con sin maltratos</p>
    </swiper-slide>


<swiper-slide>
  <h1>Portafolio de servicios</h1>
  <img src="assets/images/Slide5.webp">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <p>Aquí encontraras una lista para que elijas</p>
</swiper-slide>


<swiper-slide>
  <h1>Nuestras ofertas</h1>
  <img src="assets/images/Slide6.jfif">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <p>Tenemos promociones para nuestros diferentes productos</p>
</swiper-slide>


     <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1>Escribemos</h1>
      <img src="assets/images/Slide7.webp">
      <ion-icon name="call-outline"></ion-icon>
      <p>Estamos aquí para ayudarte.</p>
      <ion-button  (click)="finish()">Llevame al home</ion-button>
    </swiper-slide>

  </swiper-container>
</ion-content>