<ion-header>
  <ion-toolbar>
    <ion-title>Agregar publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)">
    <div (click)="uploadPhone()">
      <img [src]="post_image ? post_image : 'assets/images/Avatar.png'"/>
      <p *ngIf="!post_image">Haz clic para subir una foto</p>
      
    </div>
  
    <ion-item>
      <ion-textarea label="Descripción de la publicación" 
        labelPlacement="floating" 
        placeholder="Comenta sobre esto" 
        formControlName="description">
      </ion-textarea>
      
    </ion-item>
  <ion-footer>
    <ion-button
    type="Submit"
    [disabled]="!addPostForm.value"
    expand="full"
    >
      Publicar
    </ion-button>
    </ion-footer>  
  </form>  
</ion-content> 
