ion-content {
    background: linear-gradient(135deg, #831451, #d4386c); 
    color: #c75252; 
  }
  
  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 20px;
  }
  
  
  .avatar-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 2px solid #fff; 
  }
  
  h1 {
    margin-top: 15px;
    font-size: 1.6rem;
    color: #851b58; 
    font-weight: bold;
  }
  
 
  .username {
    font-size: 1rem;
    color: #a814a8;
    margin: 10px 0;
  }
  
  
  .stats-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  
  .stats-container p {
    margin: 0;
    font-size: 1rem;
    color: #a12061; 
  }
  
  .followers {
    text-align: left;
    font-weight: bold;
  }
  
  .following {
    text-align: right;
    font-weight: bold;
  }
  
  ion-toolbar {
    --background: #aa2883; 
    --color: white; 
  }
  
  ion-buttons {
    --color: white;
  }
  
  
  ion-toolbar h1 {
    font-size: 1.5rem;
    color: white;
  }
  
  
  
  